#mapid {
    border-style: solid;
    border-color: #000000;
    /*float:right;*/
    width:100%;
    height:100%;
}
#formQuery{
    height:10%
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

#search {
    position:relative;
}
.activitiesContainer{
    vertical-align:bottom;
    overflow-y:auto;
    height:88%;

}
html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
